<nav>
        <div class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="https://cjl72.github.io/portfolio/">Connor Letko</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                                <li class="nav-item active">
                                        <a class="nav-link" href="https://cjl72.github.io/portfolio/">Home <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                        <a class="nav-link" href="{{ site.url }}/about/">About</a>
                                </li>
                                <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="{{ site.url }}/projects/" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Projects
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                <a class="dropdown-item" href="https://github.com/cjl72/IS219-Final" target="_blank">Full Stack Web App</a>
                                                <a class="dropdown-item" href="https://github.com/cjl72/StatisticsProject" target="_blank">Statistics Calculator</a>
                                                <a class="dropdown-item" href="https://github.com/cjl72/Project_3" target="_blank">Banking Web App</a>
                                        </div>
                                </li>
                                <li class="nav-item">
                                        <a class="nav-link" href="{{ site.url }}/resume/">Resume</a>
                                </li>
                                <li class="nav-item">
                                        <a class="nav-link" href="{{ site.url }}/contact/">Contact</a>
                                </li>
                        </ul>
                </div>
        </div>
</nav>
